name: Seasonal post

on:
  schedule:
    - cron: "00 02 20 Mar,Jun,Sep,Dec *"

jobs:
  seasonal_post:
    runs-on: macOS-latest
    name: Write seasonal post
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Write seasonal post
        uses: ./
        with:
          GitHubUsername: octocat
          GitHubRepository: my-data-repo
        env:
          TOKEN: ${{ secrets.TOKEN }}
          # SETDATE: "2021-06-20"
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A && git commit -m "${{ env.season }}"
          git push
